{% extends 'layout.twig' %}
{% block title %}
{{ book.title }}
{% endblock %}
{% block content %}
<h2>{{ book.title }}</h2>
<h3>{{ book.author }}</h3>
<hr>
<p>
<strong>ISBN</strong> {{ book.isbn }}
</p>
<p>
<strong>Stock</strong> {{ book.stock }}
</p>
<p>
<strong>Price</strong> {{ book.price|number_format(2) }} €
</p>
<hr>
<h3>Actions</h3>
<form method="post" action="/book/{{ book.id }}/borrow">
<input type="submit" value="Borrow" style="background-color:#41e247;border: 1px solid #41e247;border-radius:4px;font-family: arial,sans-serif;padding:0 16px; text-align: center;color: #3e3e3e; cursor: pointer;user-select: none;height: 28px;">
</form>
<form method="post" action="/book/{{ book.id }}/buy" >
<input type="submit" value="Buy" style="background-color:#2ebaf9;border: 1px solid #2ebaf9;border-radius:4px;font-family: arial,sans-serif;padding:0 16px; text-align: center;color: #3e3e3e; cursor: pointer;user-select: none;height: 28px;">
</form>
{% endblock %}