<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="http://127.0.0.1/views/assest/css/styles.css">
</head>
<body>
<div>
<a href="/books">Books</a>
<a href="/sales">My Sales</a>
<a href="/my-books">My Books</a>
<hr>
<form action="/books/search" method="get">
<label>Title</label>
<input type="text" name="title">
<label>Author</label>
<input type="text" name="author">
<input type="submit" value="Search">
</form>
</div>
{% block content %}{% endblock %}
</body>
</html>