{% extends 'layout.twig' %}
{% block title %}
Login 
{% endblock %}
{% block content %}
{% if errorMessage is defined %}
<br>
<strong>{{ errorMessage }}</strong>
{% endif %}
<br>
<br>
<form action="/login" method="post">
<label>Email</label>
<input type="text" name="email">
<input type="submit" value="Submit" style="background-color:#41e247;border: 1px solid #41e247;border-radius:4px;font-family: arial,sans-serif;padding:0 16px; text-align: center;color: #fff; cursor: pointer;user-select: none;height: 28px;">
</form>
{% endblock %}